$badass: #00ffff;
$awesomeness: #123;
$ilovechocolate: #fff;

body {
  margin: 0;
  padding: 10px;
  background-color: $badass;
  color: $awesomeness;
}

h1 {
  color: $ilovechocolate;
}

p {
  color: #333;
}

.test2-postcss {
  display: flex;
}
